@use "./mixins.scss" as *;
@use "./themes.scss" as *;
@use "./fonts.scss" as *;

.bk-h1 {
    font-size: 54px;
    font-family: $default-font;
    color: var(--static-heading-color);
}

.bk-h2 {
    font-size: 40px;
    font-family: $default-font;
    color: var(--static-heading-color);
    transition: color var(--global-transition-parameters);
}

.bk-text-xxl {
    font-size: 26px;
    font-family: $default-font;
    letter-spacing: 1px;
    transition: color var(--global-transition-parameters);
}

.bk-text-xl {
    font-size: 18px;
    font-family: $default-font;
    transition: color var(--global-transition-parameters);
}

.bk-text-l {
    font-size: 16px;
    font-family: $default-font;
    transition: color var(--global-transition-parameters);
}

.bk-text-m {
    font-size: 14px;
    font-family: $default-font;
    transition: color var(--global-transition-parameters);
}

.bk-text-s {
    font-size: 12.5px;
    font-family: $default-font;
    transition: color var(--global-transition-parameters);
}

.bk-text-xs {
    font-size: 11.5px;
    font-family: $default-font;
    transition: color var(--global-transition-parameters);
}

.bk-text-xxs {
    font-size: 10.5px;
    font-family: $default-font;
    transition: color var(--global-transition-parameters);
}

.bk-text-light {
    font-weight: 300;
}

.bk-text-normal {
    font-weight: 400;
}

.bk-text-medium {
    font-weight: 500;
}

.bk-text-semibold {
    font-weight: 600;
}

.bk-text-bold {
    font-weight: 800;
}

.bk-nav-link-primary {
    font-family: $default-font;
    font-weight: 300;
    line-height: 27px;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: var(--static-nav-link-primary-color);
    transition: color var(--global-transition-parameters);
    cursor: pointer;
}

.bk-nav-link-primary:hover {
    color: var(--static-nav-link-primary-color-hover);
}

.bk-important-word {
    font-weight: 800;
}

.bk-modal-heading {
    font-size: 22px;
    color: var(--active-textarea-message-background-color-friend);
    font-weight: 600;
}

.bk-modal-text {
    font-weight: 400;
    color: var(--active-modal-texts-color);
}

// 
.round-button-big {
    @include button();
    min-width: 140px !important;
    min-height: 50px !important;
    transition: background var(--global-transition-parameters), color var(--global-transition-parameters);
}

.round-button-medium {
    @include button();
    min-width: 120px !important;
    min-height: 40px !important;
    transition: background var(--global-transition-parameters), color var(--global-transition-parameters);
}

.round-button-small {
    @include button();
    min-width: 100px !important;
    min-height: 30px !important;
    transition: background var(--global-transition-parameters), color var(--global-transition-parameters);
}

.square-button-medium {
    @include button();
    min-width: 120px !important;
    min-height: 40px !important;
    transition: background var(--global-transition-parameters), color var(--global-transition-parameters);
    border-radius: 6px !important;
}

.square-button-big {
    @include button();
    min-width: 140px !important;
    min-height: 50px !important;
    transition: background var(--global-transition-parameters), color var(--global-transition-parameters);
    border-radius: 6px !important;
}

.square-button-s {
    @include button();
    min-width: 70px !important;
    height: 45px !important;
    transition: background var(--global-transition-parameters), color var(--global-transition-parameters);
    border-radius: 100px !important;
}

.square-button-small {
    @include button();
    min-width: 100px !important;
    min-height: 30px !important;
    transition: background var(--global-transition-parameters), color var(--global-transition-parameters);
    border-radius: 6px !important;
}

.round-button-small-static {
    @include button-static();
    min-width: 100px !important;
    min-height: 30px !important;
    transition: background var(--global-transition-parameters), color var(--global-transition-parameters);
}

.round-button-medium-static {
    @include button-static();
    min-width: 120px !important;
    min-height: 40px !important;
    transition: background var(--global-transition-parameters), color var(--global-transition-parameters);
}

.round-button-big-static {
    @include button-static();
    min-width: 140px !important;
    min-height: 50px !important;
    transition: background var(--global-transition-parameters), color var(--global-transition-parameters);
}

.round-button-small[disabled],
.round-button-medium[disabled],
.round-button-big[disabled],
.round-button-small-static[disabled],
.round-button-medium-static[disabled],
.round-button-big-static[disabled] {
    background: rgb(211, 211, 211) !important;
}

.bk-notification-circle {
    @include flex-center();
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: rgb(223, 0, 0);
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
}

.bk-img-l {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.bk-img-m {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.bk-img-s {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.bk-img-xs {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.dots {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--active-text-color-1);
}

.name-on-hover {
    white-space: nowrap;
    opacity: 0;
    transform: translateY(-5px);
    transition: transform 0.2s ease-out;
}

.theme-button:hover,
.friend-utility:hover {
    .name-on-hover {
        transform: translateY(0);
        opacity: 1;
    }
}