@use './themes.scss' as *;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-flow: column;
}

@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin modal {
    width: 100%;
    height: 100%;
    @include flex-center();
}

@mixin button {
    background: var(--active-button-background-color) !important;
    color: var(--active-button-text-color) !important;
    letter-spacing: 1px !important;
}

@mixin button-static {
    background: var(--static-button-background-color) !important;
    color: var(--static-button-color) !important;
    letter-spacing: 1px !important;
}