@use "../styles/blink-styles.scss" as *;
@use "../styles/mixins.scss" as *;

$margin-from-divider: 30px;

.friend-section-component-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: var(--chat-widgets-padding);
    border-radius: var(--widget-border-radius);
    background: transparent;
    border: 2px solid var(--active-widget-conture-color);
    transition: border-color var(--global-transition-parameters);
    user-select: none;

    .no-data {
        @include position-center();
        white-space: nowrap;
        color: var(--active-text-color-1);
    }
}