@use "../styles/blink-styles.scss" as *;
@use "../styles/mixins.scss" as *;

$margin-from-divider: 30px;

.friend-section-component-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: var(--chat-widgets-padding);
    border-radius: var(--widget-border-radius);
    background: transparent;
    border: 1px var(--active-widget-border-type) var(--active-widget-border-color-friend);
    transition: border-color var(--global-transition-parameters);
    user-select: none;

    .profile-wrapper {
        @include flex-center();
        flex-flow: column;

        img {
            margin-bottom: 10px;
        }

        .moto {
            margin-top: 5px;
        }
    }

    .friend-utility-wrapper {
        margin: $margin-from-divider 0;
        padding: 0 5px;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            li {
                display: flex;
                flex-flow: column;
                align-items: center;
                width: 50px;
                gap: 4px;

                button {
                    @include flex-center();
                    width: 45px;
                    height: 45px;
                    border: none;
                    background: var(--active-button-background-color);
                    background-color: transparent;
                    border-radius: 50%;
                    transition: background var(--global-transition-parameters);
                    cursor: pointer;

                    .icon {
                        width: 37px;
                        height: 37px;
                        background-repeat: no-repeat;
                        background-size: contain;
                        transition: background-image 0.2s ease;
                    }

                    .is-muted {
                        background-image: unset;
                        background-image: url('/mute.png');
                    }

                    .not-muted {
                        background-image: url('/sound.png');
                    }

                    .mark-as-seen {
                        background-image: url('/mark-as-seen.png');
                    }

                    .delete-chat {
                        background-image: url('/delete-chat.png');
                    }

                    .delete-friend {
                        background-image: url('/delete-friend.svg');
                    }
                }

                span {
                    text-align: center;
                }

                .label {
                    white-space: nowrap;
                    opacity: 0;
                    transform: translateY(-5px);
                    transition: transform 0.2s ease-out;
                }

            }

            li:hover {
                .label {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }

    .friend-info-wrapper {
        margin: $margin-from-divider 0;

        ul {
            display: flex;
            flex-flow: column;
            gap: 20px;

        }
    }
}

.no-friend {
    @include position-center();
    width: max-content;
}