@use "../styles/blink-styles.scss" as *;
@use "../styles/mixins.scss" as *;
@use "../styles/material-reset.scss" as *;

$margin-between-cards: 20px;

.user-section-component-wrapper {
    position: relative;
    height: 100%;
    background: var(--active-user-widget-background);
    padding: var(--chat-widgets-padding);
    border-radius: var(--widget-border-radius);
    border: var(--active-user-textarea-borders);
    transition: border var(--global-transition-parameters);
    user-select: none;

    .profile-wrapper {
        @include flex-center();
        flex-flow: column;
        margin-bottom: 20px;

        .user-name {
            color: var(--active-text-color-1);
        }

        .bio {
            color: var(--active-text-color-2);
        }
    }

    .themes-wrapper {
        margin: $margin-between-cards 0;

        h4 {
            padding-left: 10px;
            color: var(--active-text-color-3);
        }

        .buttons-wrapper {
            display: grid;
            grid-template-columns: repeat(5, minmax(0, 1fr));
            margin-top: 19px;
            padding-inline: 5px;

            .theme-button {
                @include flex-center();
                flex-flow: column;
                gap: 4px;
                background: none;
                border: none;
                cursor: pointer;

                .circle {
                    @include flex-center();
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: var(--active-theme-background);
                    color: var(--active-theme-color);
                    font-size: 16px;
                    font-weight: 800;
                    transition: background var(--global-transition-parameters);
                }

                span {
                    color: var(--active-text-color-4);
                }
            }
        }
    }

    mat-divider {
        background: var(--active-widget-conture-color);
    }

    .chats-wrapper {
        margin-top: $margin-between-cards;

        h4 {
            padding-left: 10px;
            color: var(--active-text-color-5);
        }

        .chat-tab {
            
            .labels {
                span {
                    color: var(--active-text-color-6);
                }
            }

            .mat-mdc-tab-labels {
                padding-left: 10px;
            }

            .empty-message-wrapper {
                width: 100%;
                @include flex-center();
                @include position-center();
                flex-flow: column;
                gap: 20px;
            
                button {
                    min-width: 60% !important;
                    color: var(--active-text-color-6)
                }

                p {
                    color: var(--active-text-color-2);
                }
            }

            .mdc-tab--active {
                .mdc-tab__text-label {
                    color: var(--active-text-color-1);
                }
            }

            .mat-mdc-tab-label-container {
                border-bottom: none;
            }

            .mat-mdc-tab-body-content {
                display: flex;
                flex-flow: column;
                margin-top: $margin-between-cards;
                overflow: unset;
            }

            .mdc-tab-indicator__content--underline {
                border-color: var(--active-user-divider-color) !important;
            }
        }
    }
}