@use "../styles/global-styles.scss" as *;
@use "../styles/themes.scss" as *;
@use '../styles/mixins.scss' as *;

$transition: all 0.2s ease;
$text-border-radius: 10px;

.text-area-component-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: var(--chat-widgets-padding);
    border-radius: var(--widget-border-radius);
    background: var(--active-textarea-background-color);
    transition: background var(--global-transition-parameters);
    user-select: text;

    .no-selected-friend-text {
        position: absolute;
        top: 50%;
        left: 50%;
        width: max-content;
        font-weight: 800;
        transform: translate(-50%, -50%);
        color: var(--active-mat-tab-underline-color);
        font-family: 'Roboto';
    }

    .messages-wrapper {
        height: 86.5vh;
        width: 100%;
        padding-bottom: 20px;
        display: flex;
        flex-flow: column;
        overflow: auto;
        gap: 6px;

        .message, .friend-message {
            display: flex;
            flex-flow: column;

            .date-separator {
                @include flex-center();
                gap: 10px;
                font-size: 16px;
                margin: 20px 0;

                .line {
                    width: 100%;
                    height: 0.5px;
                    background: var(--active-textarea-border-color);
                }
            }

            .text-wrapper {
                display: flex;
                flex-flow: column;
                gap: 2px;

                .timestamp-text-wrapper {
                    display: flex;
                    align-items: center;
                    transition: all .2s ease;

                    .date {
                        width: 0;
                        transform: scaleX(0);
                        transition: inherit;
                        transform-origin: left;
                    }

                    .date-active {
                        width: 40px;
                        transform: scaleX(1);
                    }

                    .text {
                        max-width: 75%;
                        padding: 8px 20px;
                        background: var(--active-textarea-message-background-color-user);
                        color: var(--active-textarea-message-color);
                        border: none;
                        border-radius: $text-border-radius;
                        border-bottom-left-radius: 0;
                        font-family: 'Roboto';
                        font-size: 14px;
                        letter-spacing: .5px;
                        line-height: 22px;
                        word-wrap: break-word;
                        text-align: left;
                        transition: inherit;
                        cursor: default;
                    }

                }

                .is-seen-by-wrapper {
                    display: flex;
                    gap: 5px;
                }
            }
        }

        .friend-message {
            .text-wrapper {
                align-items: flex-end;

                .groupchat-message-sender-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    margin: 10px 0 2px 0;

                    span {
                        font-weight: 600;
                    }

                    img {
                        width: 25px;
                        height: 25px;
                    }
                }

                .timestamp-text-wrapper {
                    width: 100%;
                    flex-direction: row-reverse;

                    .date-active {
                        width: 35px;
                        margin-left: 5px;
                    }

                    .text {
                        border-bottom-left-radius: $text-border-radius;
                        border-bottom-right-radius: 0;
                        background: var(--active-textarea-message-background-color-friend);
                    }
                }
            }
        }
    }

    .input-area-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        height: 10%;
        max-height: 15%;
        border-top: 1px solid var(--active-textarea-border-color);
        transition: border var(--global-transition-parameters);

        .emoji {
            width: 25px;
            height: 25px;
        }

        .divider {
            height: 50%;
            width: 1px;
            background: var(--active-textarea-border-color);
            transition: background var(--global-transition-parameters);
        }

        textarea {
            width: 100%;
            max-height: 40px;
            border: none;
            background: transparent;
            font-family: 'Roboto';
            letter-spacing: 1px;
            caret-color: var(--active-textarea-caret-color);
            color: var(--active-textarea-color);
        }

        textarea:focus {
            outline: none;
        }

        button {
            .mdc-button__label {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;

                .send-text {
                    font-size: 13px;
                }
            }

            .icon {
                width: 20px;
                height: 20px;
            }
        }
    }
}