@use "../styles/global-styles.scss" as *;
@use "../styles/themes.scss" as *;
@use '../styles/mixins.scss' as *;

$transition: all 0.2s ease;
$text-border-radius: 16px;

$component-padding: calc(5% + 10px);

.text-area-component-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: var(--chat-widgets-padding);
    background: var(--active-textarea-widget-background);
    border-radius: var(--widget-border-radius);
    border: var(--active-user-textarea-borders);
    transition: background var(--global-transition-parameters);
    user-select: text;

    .no-selected-friend-text {
        position: absolute;
        top: 50%;
        left: 50%;
        width: max-content;
        transform: translate(-50%, -50%);
        color: var(--active-text-color-11);
    }

    .messages-wrapper {
        width: 100%;
        height: 84.5vh;
        padding-bottom: 20px;
        display: flex;
        flex-flow: column;
        overflow: auto;
        gap: 8px;

        .message,
        .friend-message {
            display: flex;
            flex-flow: column;

            .date-separator {
                @include flex-center();
                gap: 10px;
                font-size: 16px;
                margin: 20px 0;

                .line {
                    width: 50%;
                    height: 0.5px;
                    background: var(--active-widget-conture-color);
                }

                .whole-chat-date {
                    width: max-content;
                    white-space: nowrap;
                    color: var(--active-text-color-11);
                    margin: 0 10px;
                    text-align: center;
                }
            }

            .text-wrapper {
                display: flex;
                flex-flow: column;
                gap: 2px;
                padding-inline: $component-padding;

                .seen {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }

                .timestamp-text-wrapper {
                    display: flex;
                    align-items: center;
                    transition: all .2s ease;

                    .date {
                        width: 0;
                        transform: scaleX(0);
                        transition: inherit;
                        transform-origin: left;
                        color: var(--active-text-color-11);
                    }

                    .date-active {
                        width: 40px;
                        transform: scaleX(1);
                        margin-right: 5px;
                    }

                    .text {
                        max-width: 75%;
                        padding: 8px 20px;
                        background: var(--active-user-message-background);
                        color: var(--active-text-color-9);
                        border: var(--active-user-message-border);
                        border-radius: $text-border-radius;
                        border-bottom-left-radius: 0;
                        letter-spacing: .5px;
                        line-height: 22px;
                        word-wrap: break-word;
                        text-align: left;
                        transition: inherit;
                        cursor: default;
                    }

                }

                .is-seen-by-wrapper {
                    display: flex;
                    gap: 5px;
                }
            }
        }

        .friend-message {
            .text-wrapper {
                align-items: flex-end;

                .groupchat-message-sender-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    margin: 10px 0 2px 0;

                    span {
                        color: var(--active-text-color-1);
                    }

                    img {
                        width: 25px;
                        height: 25px;
                    }
                }

                .timestamp-text-wrapper {
                    width: 100%;
                    flex-direction: row-reverse;

                    .date-active {
                        width: 35px;
                        margin-left: 5px;
                    }

                    .text {
                        border: var(--active-friend-message-border);
                        border-bottom-left-radius: $text-border-radius;
                        border-bottom-right-radius: 0;
                        background: var(--active-friend-message-background);
                        color: var(--active-text-color-10);
                    }
                }
            }
        }
    }

    .input-area-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        height: 11vh;
        border-top: 1px solid var(--active-widget-conture-color);
        transition: border var(--global-transition-parameters);
        
        .emoji-button {
            @include flex-center();
            width: 32px;
            height: 32px;
            border: none;
            background: var(--active-icon-background);
            border-radius: 50%;
            margin: 0 3% 0 $component-padding;
            cursor: pointer;

            .emoji {
                -webkit-mask: url('/icons/emoji.svg') no-repeat center;
                mask: url('/icons/emoji.svg') no-repeat center;
            }
        }

        .divider {
            height: 60%;
            width: 1.5px;
            background: var(--active-widget-conture-color);
            transition: background var(--global-transition-parameters);
        }

        textarea {
            position: relative;
            width: 100%;
            max-height: 40px;
            border: none;
            background: transparent;
            letter-spacing: 1px;
            caret-color: var(--active-widget-conture-color);
            color: var(--active-text-color-1);
        }

        textarea::placeholder {
            color: var(--active-text-color-1);
        }

        textarea:focus {
            outline: none;
        }

        button {
            margin-right: $component-padding;

            .send {
                transform: scale(0.8);
                width: 30px;
                height: 30px;
                -webkit-mask: url('/icons/send.svg') no-repeat center;
                mask: url('/icons/send.svg') no-repeat center;
            }
        }
    }
}

@mixin background-image {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.chronoflux-theme {
    background-image: url('/backgrounds/chronoflux.jpeg');
    @include background-image();
}

.timberly-theme {
    background-image: url('/backgrounds/timberly.jpeg');
    @include background-image();
}

.auraline-theme {
    background-image: url('/backgrounds/auraline.jpeg');
    @include background-image();
}