@use "../styles/global-styles.scss" as *;
@use "../styles/themes.scss" as *;

$transition: all 0.2s ease;

.text-area-component-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: var(--chat-widgets-padding);
    border-radius: var(--widget-border-radius);
    background: var(--active-textarea-background-color);
    transition: background var(--global-transition-parameters);
    user-select: text;

    .no-selected-friend-text {
        position: absolute;
        top: 50%;
        left: 50%;
        width: max-content;
        font-weight: 800;
        transform: translate(-50%, -50%);
        color: var(--active-mat-tab-underline-color);
        font-family: 'Roboto';
    }

    .messages-wrapper {
        height: 86.5vh;
        width: 100%;
        padding-bottom: 20px;
        display: flex;
        flex-flow: column;
        overflow: auto;
        gap: 2px;

        .message {
            display: flex;
            flex-flow: column;
            color: var(--active-secondary-text-color);

            .date-separator {
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                margin: 40px auto;

                .line {
                    width: 100%;
                    height: 0.5px;
                    background: var(--active-secondary-text-color);
                }

                .date {
                    margin: 0 10px;
                    font-size: 14px;
                }
            }

            .text-timestamp-wrapper {
                display: flex;
                align-items: center;
                width: calc(70% + 35px);

                .date {
                    width: 0;
                    transform: scaleY(0);
                    transform-origin: bottom;
                    transition: $transition;
                }

                .date-active {
                    width: 30px;
                    transform: scaleY(1);
                    margin-right: 5px;
                }

                .text {
                    max-width: calc(100% - 35px);
                    width: fit-content;
                    padding: 7px 20px;
                    background: var(--active-textarea-message-background-color-user);
                    color: var(--active-textarea-message-color);
                    font-size: 14px;
                    font-weight: 300;
                    border-radius: 8px;
                    border-bottom-left-radius: 0;
                    word-wrap: break-word;
                    letter-spacing: 1px;
                    line-height: 22px;
                    text-align: left;
                    transition: $transition;
                    border: none;
                    cursor: pointer;
                }

                .text-active {
                    transform: translateX(5px);
                }
            }

            .seen {
                margin: 0 5px;
            }
        }

        .friend-message {
            .text-timestamp-wrapper {
                align-self: flex-end;
                flex-direction: row-reverse;
                width: calc(70% + 30px);

                .date {
                    width: 0;
                    transform: scaleY(0);
                    transform-origin: bottom;
                    transition: $transition
                }

                .date-active {
                    width: 30px;
                    transform: scaleY(1);
                }

                .text {
                    max-width: calc(100% - 30px);
                    width: fit-content;
                    background: var(--active-textarea-message-background-color-friend);
                    border-radius: 8px;
                    border-bottom-right-radius: 0;
                    border: none;
                    cursor: pointer;
                }

                .text-active {
                    transform: translateX(-5px);
                }
            }
        }
    }

    .input-area-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        height: 10%;
        max-height: 15%;
        border-top: 1px solid var(--active-textarea-border-color);
        transition: border var(--global-transition-parameters);

        .emoji {
            width: 25px;
            height: 25px;
        }

        .divider {
            height: 50%;
            width: 1px;
            background: var(--active-textarea-border-color);
            transition: background var(--global-transition-parameters);
        }

        textarea {
            width: 100%;
            max-height: 40px;
            border: none;
            background: transparent;
            font-family: 'Roboto';
            letter-spacing: 1px;
            caret-color: var(--active-textarea-caret-color);
            color: var(--active-textarea-color);
        }

        textarea:focus {
            outline: none;
        }

        button {
            .mdc-button__label {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;

                .send-text {
                    font-size: 13px;
                }
            }

            .icon {
                width: 20px;
                height: 20px;
            }
        }
    }
}