<div class="group-chat-modal-component-wrapper">
    <div class="modal-wrapper">
        <app-loader *ngIf="isLoading$ | async"></app-loader>
        <app-x-mark [size]="'default'" [color]="'var(--active-textarea-message-background-color-friend)'" [isForBurger]="false"></app-x-mark>
        <h3 class="bk-modal-heading">Create group chat</h3>

        <div class="friends-list-wrapper">
            <mat-form-field>
                <mat-label>Search friends</mat-label>
                <input matInput type="text" (keyup)="filterFriends(input)" #input>
                
                <button matSuffix mat-icon-button aria-label="Search">
                    <mat-icon>search</mat-icon>
                </button>

            </mat-form-field>

            <div class="friends-wrapper">
                <div class="friend" *ngFor="let friend of friends$ | async as friends">
                    <div class="img-name-wrapper">
                        <img class="avatar-img-small" [src]="friend.avatar" alt="avatar">
                        <span>{{friend.username}}</span>
                    </div>
                    <button class="add-button" [ngClass]="{'added': selectedFriendsList.includes(friend.username)}" (click)="addFriendToGroupChat(friend)"></button>
                </div>
            </div>
            
            <button mat-button class="create-button" [disabled]="selectedFriendsList.length < 2" (click)="checkIfGroupChatIsCreatable()">Create</button>
        </div>
    </div>
</div>