@use '../styles/mixins.scss' as *;

.group-chat-modal-component-wrapper {
    width: 100%;
    height: 100%;
    @include flex-center();

    .modal-wrapper {
        position: relative;
        @include flex-center();
        flex-flow: column;
        justify-content: space-between;
        width: 50%;
        gap: 50px;
        padding: 30px;
        border-radius: var(--widget-border-radius);
        background: var(--active-app-background);

        h3 {
            color: var(--active-text-color-11);
        }

        
        .friends-list-wrapper {
            width: 100%;
            display: flex;
            flex-flow: column;
            gap: 15px;
            
            mat-form-field {
                width: 80%;
                align-self: center;

                mat-label {
                    color: var(--active-text-color-11);
                }

                input {
                    color: var(--active-text-color-11);
                }

                mat-icon {
                    color: var(--active-text-color-11);
                }
            }

            .friends-wrapper {
                display: flex;
                flex-flow: column;
                gap: 10px;
                height: 42vh;
                overflow-y: scroll;

                .friend {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 5px;
                    border-radius: 10px;

                    .img-name-wrapper {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .friend-name {
                            color: var(--active-text-color-11);
                        }
                    }

                    .add-button,
                    .added {
                        position: relative;
                        width: 40px;
                        height: 40px;
                        border: none;
                        border-radius: 50%;
                        background: var(--active-icon-background);
                        color: var(--active-icon-color);
                        font-size: 24px;
                        font-weight: 300;
                        cursor: pointer;
                        transition: all 0.12s linear;
                    }

                    .add-button::before {
                        content: "+";
                        @include position-center();
                        transition: all 0.12s linear;
                    }

                    .add-button:hover {
                        background: var(--active-icon-color);
                        color: var(--active-icon-background);
                    }

                    .added {
                        background-color: transparent;
                    }

                    .added::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 30%;
                        width: 8px;
                        height: 18px;
                        border-bottom: 3px solid var(--active-text-color-1);
                        border-right: 3px solid var(--active-text-color-1);
                        transform: rotate(45deg) translate(-50%, -50%);
                        transition: all 0.12s linear;
                    }

                    .added:hover {
                        background: unset;
                    }
                }
            }

            .create-button {
                width: 30%;
                height: 44px;
                align-self: center;
                border: none;
                background: none;
                border-radius: 50px;
                background: var(--active-icon-background);
                color:  var(--active-icon-color);
                transition: all .12s linear;
            }

            .create-button:hover {
                background: var(--active-text-color-6);
            }

            .create-button:disabled {
                opacity: 0.6;
                cursor: not-allowed;
            }
        }
    }
}