@use '../styles/mixins.scss' as *;
@use '../styles/global-styles.scss' as *;
@use '../styles/themes.scss' as *;

.sidebar-component-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: var(--widget-border-radius);
    border: 1px solid var(--active-widget-conture-color);
    transition: background var(--global-transition-parameters), transform 0.4s ease;
    padding: 40px 10px;

    .top-side-buttons-wrapper {
        width: 100%;
        @include flex-center();
        flex-flow: column;
        gap: 40px;
    }

    button {
        position: relative;
        border: none;
        background: var(--active-icon-background);
        border-radius: 50%;
        cursor: pointer;
        transition: all .2s linear;

        .notification-size {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
        }

        .add-friend {
            -webkit-mask: url('/icons/add-friend.svg') no-repeat center;
            mask: url('/icons/add-friend.svg') no-repeat center;
        }

        .notifications {
            -webkit-mask: url('/icons/notifications.svg') no-repeat center;
            mask: url('/icons/notifications.svg') no-repeat center;
        }

        .create-group-chat {
            -webkit-mask: url('/icons/create-grou-chat.svg') no-repeat center;
            mask: url('/icons/create-group-chat.svg') no-repeat center;
        }

        .log-out {
            -webkit-mask: url('/icons/log-out.svg') no-repeat center;
            mask: url('/icons/log-out.svg') no-repeat center;
        }
    }

    button:hover {
        background: var(--active-icon-color);

        .svg-icon {
            background-color: var(--active-text-color-10);
        }
    }
}