@import '../global.scss';

.signup-component-wrapper {
    .background-wrapper {
        width: 50%;
    }

    .form-wrapper {
        width: 50%;
        @include flex-center();
        flex-flow: column;

        form {
            margin-top: $margin-between-wrappers;

            mat-form-field {
                width: 100%;
            }
        }
    }

}