@use '../styles/global-styles.scss' as *;
@use '../styles/mixins.scss' as *;
@use '../styles/material-reset.scss' as *;

$input-width: 80%;
$margin-between-inputs: 8px;

.signup-component-wrapper {
    @include flex-center();
    height: 100%;

    .modal-wrapper {
        position: relative;
        display: flex;
        width: 95%;
        height: 95%;
        overflow: hidden;
        border-radius: var(--widget-border-radius);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);

        .background-wrapper {
            @include flex-center();
            flex-flow: column;
            width: 50%;
            height: 100%;
            background-image: url("../../../public/wall-background.png");
            background-repeat: no-repeat;
            background-color: currentColor;
            background-position-y: center;
        }

        .form-wrapper {
            width: 50%;
            position: relative;
            @include flex-center();
            flex-flow: column;
            gap: 15px;
            background-color: #ffffff;

            h3 {
                color: var(--static-heading-color);
            }

            mat-stepper {
                width: 100%;
                height: 76.5%;
                background: unset;

                form {
                    width: 100%;
                    @include flex-center();
                    align-items: unset;
                    padding: 5px 0 5px 10px;
                    flex-flow: column;
                    gap: $margin-between-inputs;
                    height: 55.5vh;
                    overflow-y: scroll;

                    mat-form-field {
                        width: $input-width;
                        background: transparent !important;

                        input::placeholder {
                            font-size: 12px;
                            color: gray;
                        }
                    }
                }

                .mat-vertical-content {
                    padding: 0
                }

                h4 {
                    text-align: center;
                    margin-bottom: 20px;
                }

                .avatars-wrapper {
                    width: 100%;
                    @include flex-center();
                    flex-wrap: wrap;
                    gap: 20px;
                    border-radius: 10px;
                    background: #f1f1f1;
                    padding: 5px;
                    height: 370px;
                    overflow-y: scroll;

                    button {
                        position: relative;
                        border: none;
                        cursor: pointer;

                        img {
                            width: 169px;
                            height: 169px;
                            border-radius: 50%;
                            object-fit: cover;
                            object-position: top;
                        }

                        .overlay {
                            width: 100%;
                            height: 100%;
                            @include flex-center();
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: rgba(0, 0, 0, 0.579);
                            color: #ffffff;
                            font-family: "Roboto";
                            font-weight: 600;
                            font-size: 14px;
                            border-radius: 50%;
                            transform: scale(0);
                            transform-origin: bottom;
                            transition: transform .07s linear;
                        }

                        .selected-overlay {
                            transform: scale(1);
                        }
                    }
                }
            }

            .button-wrapper {
                @include flex-center();
                flex-flow: column;
                width: 100%;

                button {
                    width: $input-width;
                    margin-bottom: calc($margin-between-inputs / 2);
                }
            }
        }
    }
}