@if (data.friendsList) {
    <button class="chat-wrapper" [ngClass]="{'active-friend-chat': selectedChat === friend.userId}" *ngFor="let friend of data.friendsList" (click)="updateLastSelectedFriend(friend)">
        <div class="avatar-name-wrapper">
            <div class="bk-img-m friend-image" [ngStyle]="{'background-image': 'url('+friend.avatar+')'}">
                <div class="green-circle" *ngIf="friend.isOnline"></div>
            </div>
            <div class="text-wrapper">
                <span class="bk-text-l friend-name"> {{friend.username}} </span>
                <p class="bk-text-s no-messages" *ngIf="friend.messages.length === 0">No messages yet</p>
                <p class="bk-text-s dots last-sent-text-wrapper" *ngIf="friend.messages.length > 0">
                    <span class="last-sent-text-author bk-text-s" *ngIf="friend.messages[friend.messages.length -1].sender === 'user'">You: </span>
                    <span class="last-sent-text-author bk-text-s" [ngStyle]="{'font-weight': !friend.messages[friend.messages.length - 1].isSeen ? '800' : ''}" *ngIf="friend.messages[friend.messages.length -1].sender !== 'user'">{{friend.username}}: </span>
                    <span class="last-sent-text bk-text-s" [ngStyle]="{'font-weight': !friend.messages[friend.messages.length - 1].isSeen && friend.messages[friend.messages.length -1].sender !== 'user' ? '800' : ''}">{{friend.messages[friend.messages.length -1].text}}</span>
                </p>
            </div>
        </div>
        <span class="bk-text-xxs date" *ngIf="friend.messages.length > 0 && !(friend.messages | unseenTextsLength)">{{friend.messages[friend.messages.length - 1].timeStamp | chatDate}}</span>
        <div class="bk-notification-circle" *ngIf="friend.messages | unseenTextsLength">{{friend.messages | unseenTextsLength}} </div>
    </button>
} 

@if (data.groupChatList) {
    <button class="chat-wrapper" [ngClass]="{'active-friend-chat': selectedChat === groupChat.chatId}" *ngFor="let groupChat of data.groupChatList" (click)="updateLastSelectedGroupChat(groupChat)">
        <div class="avatar-name-wrapper groupchat-avatar-name-wrapper">
            <div class="avatar-wrapper">
                <div class="bk-img-s friend-image" *ngFor="let user of groupChat.users | slice: 0:3" [ngStyle]="{'background-image': 'url('+user.avatar+')'}"></div>
            </div>
            
            <div class="text-wrapper">
                <div class="heading-wrapper dots">
                    <h5 class="bk-text-m bk-text-normal" *ngFor="let users of groupChat.users">
                        <span *ngIf="users.username === 'user'">You</span>
                        <span *ngIf="users.username !== 'user'">{{users.username}},</span>
                    </h5>
                </div>
                
                <p class="bk-text-s no-messages" *ngIf="groupChat.messages.length === 0">No messages yet</p>
                <p class="bk-text-s dots last-sent-text-wrapper" *ngIf="groupChat.messages.length > 0">
                    <span class="last-sent-text-author" *ngIf="groupChat.messages[groupChat.messages.length -1].sender === 'user'">You: </span>
                    <span class="last-sent-text-author" [ngStyle]="{'font-weight': (groupChat.messages[groupChat.messages.length -1] | unseenGroupTextsLength) ? '800' : '' }" *ngIf="groupChat.messages[groupChat.messages.length -1].sender !== 'user'"> {{groupChat.messages[groupChat.messages.length -1].sender}}: </span>
                    <span class="last-seen-text" [ngStyle]="{'font-weight': (groupChat.messages[groupChat.messages.length -1] | unseenGroupTextsLength) ? '800' : '' }"> {{groupChat.messages[groupChat.messages.length -1].text}} </span>
                </p>
            </div>
        </div>

        <span class="bk-text-xxs date" *ngIf="groupChat.messages.length > 0 && !(groupChat.messages | unseenGroupTextsLength)">{{groupChat.messages[groupChat.messages.length - 1].timeStamp | chatDate}}</span>
        <div class="bk-notification-circle" *ngIf="groupChat.messages | unseenGroupTextsLength"> {{groupChat.messages | unseenGroupTextsLength}} </div>
    </button>

}