<div class="blur-content-wrapper" [ngStyle]="{'filter': (isModalOpened$ | async) ? 'blur(5px)' : ''}">
    <header ng-cloak>
        <a routerLink="/home">
            <img class="logo" src="icons/blink-logo.png" alt="Logo">
        </a>

        <nav>
            <button class="round-button-small-static" mat-flat-button (click)="openSignInPage()">Get started</button>
        </nav>
    </header>

    <section class="home-section about-app-section" ng-cloak>
        <div class="heading-wrapper">
            <h1 class="bk-h1 bk-text-medium">About Blink</h1>
            <p class="bk-text-l article-text">Blink is a free, fast and lightweight web chat application designed to provide effective communication, it ensures a great user experience for real-time conversations.</p>
        </div>
        <img src="about-blink.svg" class="background-image" alt="about-blink">
    </section>
</div>