<div class="notifications-component-wrapper">

    <div class="modal-wrapper bk-modal">
        <h3 class="bk-text-xxl">Notifications</h3>
        <app-x-mark [size]="'default'" [color]="'var(--active-text-color-10)'" [isForBurger]="false"></app-x-mark>

        <div class="notifications-wrapper" *ngIf="notifications">
            <div class="notification-wrapper" *ngFor="let notification of notifications">
                <button class="delete-button" [ngClass]="{'not-visible': notification.isIncoming && notification.status === 'pending'}" (click)="deleteNotification(notification)" #deletebutton>
                    <div class="line-1"></div>
                    <div class="line-2"></div>
                </button>

                <div class="notification" *ngIf="notification.displayMessage">
                        <span class="notification-type bk-info-primary" *ngIf="notification.type === 'friend-request'">Connect</span>
                        <p class="bk-text-m message" [ngStyle]="{'font-weight': !notification.isSeenByUser ? '800' : 'unset'}">{{notification.displayMessage}}</p>
                        <span class="bk-text-xs date" [ngStyle]="{'font-weight': !notification.isSeenByUser ? '800' : 'unset'}">{{notification.timeStamp | chatDate}}</span>
                </div>

                <div class="buttons-wrapper" *ngIf="notification.isIncoming && notification.status === 'pending'">
                    <button (click)="respondToFriendRequest(notification.sender.email, true)">
                        <div class="check"></div>
                    </button>
                    <button class="x-mark" (click)="respondToFriendRequest(notification.sender.email, false)">
                        &#10005;
                    </button>
                </div>
            </div>

            <h2 class="no-notifications-text bk-text-xl" *ngIf="notifications.length === 0">No notifications to display</h2>
        </div>

    </div>
</div>